<!DOCTYPE html>
<html lang="fr" ng-app="myApp">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jonathan Fechner</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- Dublin Core -->
    <meta name="DC.title" content="Jonathan Fechner - Formateur et Consultant en gestion de projets">
    <meta name="DC.creator" content="Victor Chanson">
    <meta name="DC.subject" content="Jonathan Fechner, Gestion de projet, Consultant, Formateur, Val d'Oise, Developpement Multimedia, Référencement naturel, Production, 95, Communication, Site Web, 3D, Référencement, Objectif" />
    <meta name="DC.description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération." />
    <meta name="DC.publisher" content="Adrien Cadot">
    <meta name="DC.format" content="website">
    <meta name="DC.identifier" content="www.sitename.fr">
    <meta name="DC.language" content="fr-FR">
    <meta name="DC.coverage" content="World">
    <meta name="DC.rights" content="&copy; Tous droits réservés © copyright 2015">
    <!-- END Dublin Core -->


    <!-- Referencement -->
    <meta name="description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération.">
    <meta name="keywords" content="Jonathan Fechner, Gestion de projet, Consultant, Formateur, Val d'Oise, Developpement Multimedia, Référencement naturel, Production, 95, Communication, Site Web, 3D, Référencement, Objectif">
    <meta name="author" content="Victor Chanson">
    <meta name="robots" content="index">
    <meta name="Indentifier-URL" content="www.sitename.fr">
    <!-- END Référencement -->


    <!-- Open Graph-->
    <meta property="og:title" content="Jonathan Fechner - Formateur et Consultant en gestion de projets">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.sitename.fr">
    <meta property="og:image" content="www.sitename.fr/logo.png">
    <meta property="og:site_name" content="Jonathan Fechner - Formateur et Consultant en gestion de projets">
    <meta property="og:description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération.">
    <!-- END Open Graph-->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/js/bootstrap.min.js">
    <link href='https://fonts.googleapis.com/css?family=Halant:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="assets/css/style.css">

    <!-- load angular via CDN -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="assets/js/app.js"></script>
</head>

<body ng-controller="MainController">

<nav class="web-nav">
    <a href="#"><img id="menu-logo" src="assets/img/logo-big2.png" alt="logo"/></a>
    <ul id="menu-main" class="">
        <li class="main-li "><a href="#/propos">A propos</a><span  class="" aria-hidden="true"></span></li>
        <li class="main-li pointer-hand"><a href="#/intervention">Domaines d'intervention</a><span ng-click="ShowHide()" class="arrow-bot  glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <ul ng-hide="IsHidden">
                <li class="second-li"><i class="fa fa-diamond"></i><a href="#">Design 3D </a></li>
                <li class="second-li"><span class="glyphicon glyphicon-globe"></span><a href="#">Site Web </a></li>
                <li class="second-li"><span class="glyphicon glyphicon-film"></span><a href="#">Vidéo </a></li>
                <li class="second-li"><span class="glyphicon glyphicon-file"></span><a href="#">Print </a></li>
                <li class="second-li"><span class="glyphicon glyphicon-pencil"></span><a href="#">Graphisme </a></li>
                <li class="second-li"><span class="glyphicon glyphicon-user"></span><a href="#">Propriété intellectuelle </a></li>
            </ul>
        </li>
        <li class="main-li"><a href="#/contact">Contact</a><span  class="" aria-hidden="true"></span></li>
        <li class="main-li pointer-hand" id="border-bot" ><a href="#/courstutos">Cours & Tutoriels</a><span ng-click="ShowHidee()" class="arrow-bot  glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <ul ng-hide="IsHiddenn">
                <li class="second-li"><i class="fa  fa-lightbulb-o"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#avant-projets">Avant-projet</a></li>
                <li class="second-li"><i class="fa  fa-briefcase"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#gestion-projets">Gestion de projet</a></li>
                <li class="second-li"><i class="fa  fa-spinner"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#conception-projets">Phase de conception</a></li>
                <li class="second-li"><i class="fa  fa-truck"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#livraison-projets">Livraison &amp; recettage</a></li>
                <li class="second-li"><i class="fa  fa-users"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#autres">Guide utilisateur</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div ng-view class="main-wrapper"></div>

</body>
</html>
