<!DOCTYPE html>
<html lang="fr" ng-app="myApp">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jonathan Fechner - Consultant SEO dans le val d'Oise</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- Dublin Core -->
    <meta name="DC.title" content="Jonathan Fechner - Consultant SEO dans le val d'Oise">
    <meta name="DC.creator" content="Victor Chanson">
    <meta name="DC.subject" content="Jonathan Fechner, Gestion de projet, Consultant, Formateur, Val d'Oise, île de france, Référencement naturel, Production, 95, Communication, Site Web, 3D, Référencement, Objectif" />
    <meta name="DC.description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération." />
    <meta name="DC.publisher" content="Adrien Cadot">
    <meta name="DC.format" content="website">
    <meta name="DC.identifier" content="www.sitename.fr">
    <meta name="DC.language" content="fr-FR">
    <meta name="DC.coverage" content="World">
    <meta name="DC.rights" content="&copy; Tous droits réservés © copyright 2015">
    <!-- END Dublin Core -->


    <!-- Referencement -->
    <meta name="description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération.">
    <meta name="keywords" content="Jonathan Fechner, Gestion de projet, Consultant, Formateur, Val d'Oise, Developpement Multimedia, Référencement naturel, 95, 3D, Référencement">
    <meta name="author" content="Victor Chanson">
    <meta name="robots" content="index">
    <meta name="Indentifier-URL" content="www.sitename.fr">
    <!-- END Référencement -->


    <!-- Open Graph-->
    <meta property="og:title" content="Jonathan Fechner - Formateur et Consultant en gestion de projets">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.sitename.fr">
    <meta property="og:image" content="www.sitename.fr/logo.png">
    <meta property="og:site_name" content="Jonathan Fechner - Formateur et Consultant en gestion de projets">
    <meta property="og:description" content="J.Fechner est Consultant Indépendant Digital spécialiste des techniques de l'information et de la communication. Son intervention sur vos projets permet de vous apporter des réponses claires, du cahier des charges fonctionnel au succès de l'opération.">
    <!-- END Open Graph-->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/js/bootstrap.min.js">

    <!--FONT-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,400italic,100italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <!--FONT-->

    <link rel="stylesheet" href="assets/css/style.css">

    <!-- load angular via CDN -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="assets/js/app.js"></script>



</head>

<body ng-controller="MainController">


<div class="nav-rel"></div>
<nav class="web-nav">
    <div id="menu-logo">
        <a href="#/"><img class="center-block"  src="assets/img/jf2.png" alt="logo"/></a>
    </div>
    <ul id="menu-main" class="">
        <li class="main-li "><a href="#/propos">A propos</a><span  class="" aria-hidden="true"></span></li>
        <li class="main-li pointer-hand" ng-init="isHidden = true"><a href="#/intervention">Domaines d'intervention</a>
            <span ng-click="isHidden = !isHidden" class="arrow-bot  glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <ul ng-hide="isHidden">
                <li class="second-li"><span class="glyphicon glyphicon-home"></span><a href="#">Design 3D </a></li>
                <li class="second-li"><a href="#"><span class="glyphicon glyphicon-globe"></span> <span class="decalage-lleft">Site Web</span> </a></li>
                <li class="second-li"><a href="#"><span class="glyphicon glyphicon-film"></span><span class="decalage-lleft">Vidéo</span> </a></li>
                <li class="second-li"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="decalage-lleft">Print</span> </a></li>
                <li class="second-li"><a href="#"> <span class="glyphicon glyphicon-pencil"></span><span class="decalage-lleft">Graphisme</span></a></li>
                <li class="second-li"><a href="#"><span class="glyphicon glyphicon-user"></span><span class="decalage-lleft">Propriété intellectuelle</span> </a></li>
            </ul>
        </li>
        <li class="main-li"><a href="#/contact">Contact</a><span  class="" aria-hidden="true"></span></li>
        <li class="main-li pointer-hand" id="border-bot" ng-init="isHidden = true">
            <a href="#/courstutos">Cours & Tutoriels</a>
            <span ng-click="isHidden = !isHidden" class="arrow-bot  glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <ul ng-hide="isHidden">
                <li class="second-li"><i class="fa  fa-lightbulb-o"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#avant-projets">Avant-projet</a></li>
                <li class="second-li"><i class="fa  fa-briefcase"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#gestion-projets">Gestion de projet</a></li>
                <li class="second-li"><i class="fa  fa-spinner"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#conception-projets">Phase de conception</a></li>
                <li class="second-li"><i class="fa  fa-truck"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#livraison-projets">Livraison &amp; recettage</a></li>
                <li class="second-li"><i class="fa  fa-users"></i><a href="http://www.jonathanfechner.fr/cours_et_tutoriels.php/#autres">Guide utilisateur</a></li>
            </ul>
        </li>
    </ul>
    <p class="text-center copyright"><i class="fa fa-copyright"></i> Copyright - Jonathan Fechner</p>
</nav>

<div ng-view class="main-wrapper"></div>

</body>
</html>
