
/*MENU*/



body{
  max-width: 100vw;
  background: url(../img/eagle.jpg) no-repeat fixed center center #666;
  background-size : cover ;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  .nav-rel{
    position: relative;
    z-index: -10;
    opacity: 0;
    width: 20%;
    height: 100%;
  }
  .web-nav{
    width: 20%;
    background-color: rgba(36, 51, 80, 0.65);
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    top: 0;
    min-height: 600px;
    opacity: 0.95;

    #menu-logo{
      height: 190px;
      position: relative;
      img{
        top: 30px;
        display: block;
        width: 130px;
        height: auto;
        border-radius: 1000px;
        position: relative;
      }
      &:hover {
        img{
          background-color: rgba(160, 169, 168, 0.25);
          transition:500ms;
        }
      }
    }
    #menu-main{
      list-style: none;
      padding:0px;
      .pointer-hand{
        cursor: pointer;
        cursor: hand;
      }
      .main-li{
        text-align: left;
        border-top: 1px solid rgba(238, 238, 238, 0.3);
        padding : 20px 0px;
        transition : 500ms;
        &:hover{
          background-color: rgba(160, 169, 168, 0.25);        }
        .second-li{
          text-decoration: none;
          list-style: none;
          margin: 5px;
          &:hover{
            transform: scale(1.05);
          }
          .fa{
            color: rgba(255, 255, 255, 0.9);
          }
          .glyphicon{
            color: rgba(255, 255, 255, 0.9);
          }
          a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9);
            margin-left: 6%;
            position: relative;
          }
        }
        a{
          margin-left: 10%;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.9);
          position: relative;
        }
        .arrow-bot{
          float: right;
          margin-right: 5%;
          color: rgba(255, 255, 255, 0.9);
        }
      }
      #border-bot{
        border-bottom: 1px solid rgba(238, 238, 238, 0.3);
      }
    }
    .copyright{
      bottom: 0px;
      position: absolute;
      color: #ffffff;
      text-align: center;
      margin-left: 30px;
    }
  }
}
/*MENU end*/



/*MAIN*/

.mainhtml{
  h1{
    color: rgba(13, 16, 33, 1);;
    span{
      font-size: 0.93em;
    }
  }
  .botright{
    float: right;
    bottom: -540%;
    right: 10%;
    position: absolute;
    text-align: right;

  }
}

/*MAIN end*/



/*PROPOS*/
.proposhtml{
  color: #ffffff;
  .image{
    img{
      border-radius: 3px;
      height: 260px;
    }

  }
}


/*PROPOS end*/















/*BONUS*/
#voile{
  background: url('../img/voile.png') repeat;
  position: fixed;
  height: 100vh;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fs1{
  font-size: 1.8rem;
}

.thin{
  font-weight: 200;
  color: #ffffff;
}
.thin2{
  font-weight: 400;
  color: #ffffff;
}
.thin3{
  font-weight: 300;
  color: #ffffff;
}
.thinita{
  font-weight: 100;
  font-style: italic;
  color: #ffffff;
}

.decalage-top{
  padding-top: 10%;
}
.decalage-bot{
  padding-bottom: 10%;
}
.border-top{
  border-top: 1px solid #ffffff;
}
.border-bot{
  border-bottom: 1px solid #ffffff;
}

/*BONUS end*/